<footer class="bottom-nav">
    <div class="bottom-nav-container">
        <a href="#">
            <div class="bottom-nav-event bottom-nav-settings">
                <i class="fas fa-cog"></i>
                <p class="bottom-nav-text">Settings</p>
            </div>
        </a>
    
     <a href="/appointmentDetails">
        <div class=" bottom-nav-event  bottom-nav-details">
            <i class="far fa-calendar-alt"></i>
            <p class="bottom-nav-text">Appointments</p>
        </div> 
     </a>
     <a href="/bookAppointment">
        <div class="bottom-nav-event   bottom-nav-newAppointment">
            <i  class="fas fa-plus-circle"></i>
        </div>
     </a>
     
     <a href="/profile">
        <div class=" bottom-nav-event  bottom-nav-profile">
            <i class="fas fa-user"></i>
            <p class="bottom-nav-text">Profile</p>
        </div>
     </a>
     
     <a href="/dashboard">
     <div class="bottom-nav-event bottom-nav-home">
         <i class="fas fa-home"></i>
         <p class="bottom-nav-text">Home</p>
     </div>
    </a>
 </div>
</footer>

<script src="index.js" charset="utf-8" type=text/javascript></script>
</body>
</html>