<!DOCTYPE html>
<html>
    <head>
        <title>BOOKIT</title>
        <link rel="icon" href="favicon.ico">  
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheet.css" type="text/css"> 
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap" rel="stylesheet">
        <script src='https://kit.fontawesome.com/7638b55f18.js' crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <div class="header-container">
                <h2 class="header-text">BOOKIT</h2>
                <i class="header-icon fa fa-user"></i>
                <a href="/profile"><img src="adepics.jpeg" class="menu-bar"></a>
                
            </div>
        </header>
        <nav class="side-nav">
            <a href="/dashboard">
            <div class="dashboard nav-item-container">
                <i class="nav-icon fa fa-tachometer"></i>
                <p class="nav-text">Dashboard</p>

            </div>
            </a>
            <hr>
            <a href="/bookAppointment">
            <div class="bookAppointment nav-item-container">
                <i class="nav-icon fa fa-calendar"></i>
                <p class="nav-text">Book Appoitment</p>
            </div>
            </a href="/appointmentDetails">
            <hr>
            <a href="appointmentDetails">
            <div class="appointmentDetails nav-item-container">
                <i class='nav-icon fa fa-file'></i>
                <p class="nav-text">Booking Details</p>
            </div>
            </a>
            <hr>
            <a href="">
            <div class="nav-item-container">
                <i class="nav-icon fa fa-check"></i>
                <p class="nav-text">Check</p>
            </div>
            </a>
            <hr>
            <a href="/profile">
            <div class="nav-item-container">
                <i class="nav-icon fa fa-user-circle-o"></i>
                <p class="nav-text">View Profile</p>
            </div>
            </a>
            <hr>
            
            <a><div class="nav-item-container">
                <i class="nav-icon fa fa-registered"></i>
                <p class="nav-text">Register</p>
            </div></a>
            <hr>

            <a href="/logout">
                <div class="nav-item-container">
                <i class="nav-icon fa fa-sign-out"></i>
                <p class="nav-text">Logout</p>
                
            </div>
        </a>
            <hr id="side-nav-bottom-line">
        </nav>