<%- include("partials/header") %>

<section class="event-body">
<div class="main-body-header-text">
    <h1> Welcome</h1>
    <p>Ade</p>
    <hr>
</div> 
<!-- grid container -->
<div class="grid-wrapper">
    <div class="flex-container">
    <a class="event grid1" href="/bookAppointment">
        <i class=" fa fa-calendar" id="eventIcon"></i>
        <div class="event-text">
            <p>Book Appointment</p>
        </div>
    </a>
    <a class="event grid2" href="/appointmentDetails">
        <i class='fa fa-file' id="eventIcon"></i>
        <div class="event-text">
            <p>Booking Details</p>
        </div>
    </a>
    <a class="event grid3" href="/register">
        <i class="fa fa-registered" id="eventIcon"></i>
        <div class="event-text">
            <p>Register</p>
        </div>
    </a>
    <a class="event grid4" href="/comment">
        <i class="fa fa-comment" id="eventIcon"></i>
        <div class="event-text">
            <p>Comments</p>
        </div>
    </a>
    <a class="event grid5">
        <i class="fa fa-check" id="eventIcon"></i>
        <div class="event-text">
            <p>Check</p>
        </div>
    </a>
    <a class="event grid6">
        <i class="fa fa-calendar" id="eventIcon"></i>
        <div class="event-text">
            <p>Reschedule</p>
        </div>
    </a>
    <a class="event grid7" href="/profile">
        <i class="fa fa-user-circle-o" id="eventIcon"></i>
        <div class="event-text">
            <p>View Profile</p>
        </div>
    </a>
    <a class="event grid8" href="/logout">
        <i class="fa fa-sign-out" id="eventIcon"></i>
        <div class="event-text">
            <p>Logout</p>
        </div>
    </a>
    </div>
</div>
</section>
<%- include("partials/footer") %>