<%- include("partials/header") %>

<section class="event-body">
    
  
       
    <div class="booking-details" >
        <div class="details-container">
            <h1>Details</h1>
            <hr>
        </div>
        <% if(Object.keys(user).length !== 0){   %>
            <%  for(var i=0; i<user.appointments.length; i++) {  %>
                <%   if(user.appointments[i]._id !== id){  %>
           <div>
               <i class="booking-details-icon  fa fa-calendar"></i>
               <p class="booking-details-text"><%= user.appointments[i].month + " " + user.appointments[i].date %></p>
           </div>
           <div>
               <i class="booking-details-icon fa fa-clock"></i>
               <p class="booking-details-text"><%= user.appointments[i].timeFromHour + " : " + user.appointments[i].timeFromMin + " : " +  user.appointments[i].timeFromMeridian %></p>
           </div>
           <div>
               <i class="booking-details-icon fa fa-hourglass-half"></i>
               <p class="booking-details-text">1 hour</p>
           </div>
           <div>
               <i class="booking-details-icon  fa fa-map-marker"></i>
               <p class="booking-details-text">Zoom</p>
           </div>
           <div>
               <i class="booking-details-icon  fa fa-envelope"></i>
               <p class="booking-details-text">email</p> 
           </div>
           <a href="/bookAppointment"><input type="button" value="RESHEDULE" class="reshedule_btn"></a>
          
       </div>
       <%    break;  %>
       <%    }  %>

<% }              %>
     
            
      <%    }  %>
     
</section>

<%- include("partials/footer") %>
